autograd==1.6.2
clarabel==0.7.1
contourpy==1.2.1
cvxopt==1.3.2
cvxpy==1.4.3
cycler==0.12.1
dill==0.3.8
disropt==0.1.9
ecos==2.0.13
fonttools==4.51.0
future==1.0.0
kiwisolver==1.4.5
matplotlib==3.8.4
mpi4py==3.1.6
numpy==1.26.4
osqp==0.6.5
packaging==24.0
pillow==10.3.0
pybind11==2.12.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
qdldl==0.1.7.post2
scipy==1.11.4
scs==3.2.4.post1
six==1.16.0
